<section id="eventsView" class = "ac-page">

    <div ncy-breadcrumb></div>

    <section class="tableParent">

        <div class = "btn btn-info" ng-click="$ctrl.createNewEvent()" style = "margin-bottom: 25px;">
            Create new Event
        </div>

        <table datatable="$ctrl.eventsDT.getDt" dt-options="$ctrl.eventsDT.options"
               dt-columns="$ctrl.eventsDT.columns"
               dt-disable-deep-watchers="true"
               class="events-table table table-striped border-less dataTable">
        </table>

    </section>
</section>