
* {
    outline: none;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}


.ac-page {
    margin-top: 80px;
    padding: 0 20px;
}


.clickable {
    cursor: pointer;
}


.hoverable-btn {
    color: gray;
}

.hoverable-btn:hover {
    color: #333;
}

.block {
    display: block;
}

.block-im {
    display: block !important;
}



section + section {
    margin-top: 30px;
}

section.header-section + section {
    margin-top: 50px;
}


.fill-w {
    width: 100%;
}


.fill-h {
    height: 100%;
}



/********************************** START OF BREADCRUMBS **********************************************/

ol.breadcrumb {
    border-radius: 0;
}

/********************************** END OF BREADCRUMBS **********************************************/




/********************************** START OF UI SELECT **********************************************/

/* remove shadow from select toggle */
.ui-select-toggle, .ui-select-toggle:hover {
    box-shadow: none;
}


/* remove border radius from results */
.ui-select-choices {
    border-radius: 0;
}

/********************************** END OF UI SELECT **********************************************/








/****************************** START OF CUSTOM BOOTSTRAP ****************************************/

/****** FORM ********/
input.form-control,
textarea.form-control,
select.form-control,
.ui-select-container {
    max-width: 400px;
    border-radius: 0;
}


/****** BUTTONS ********/
.btn + .btn {
    margin-left: 5px;
}

.btn {
    border-radius: 0;
}


/******* GRID *******/
.row:not(section) + .row:not(section),
.row:not(section) + .row,
.row + .row:not(section) {
    margin-top: 15px;
}


/***** INPUT *****/
.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
    margin-left: 30px;
}


/********* MODAL ************/
.modal-content {
    border-radius: 0;
}


.modal-header {
    background: #4E75AD;
    border-radius: 0;
    border: 0;
    margin: 0;
    color: white;
}


.modal-header .modal-title {
    font-size: 25px;
    font-weight: normal;
}

.modal-header .close-btn {
    margin: 5px 5px 0 0;
    color: white;
}

.modal-header .close-btn:hover {
    color: #00209b;
}



/**** DATEPICKER *******/

.uib-datepicker {
    display: inline-block;
}


/* HEADER BUTTONS */
.uib-datepicker table thead th .uib-left,
.uib-datepicker table thead th .uib-right,
.uib-datepicker table thead th .uib-title,
.uib-datepicker table thead th .uib-left,
.uib-datepicker table thead th .uib-right,
.uib-datepicker table thead th .uib-title,
.uib-datepicker table thead th .uib-left,
.uib-datepicker table thead th .uib-right,
.uib-datepicker table thead th .uib-title {
    border-radius: 0;
    border: 1px solid transparent;
    height: 30px;
}

.uib-datepicker table thead th .uib-left,
.uib-datepicker table thead th .uib-right {
    width: 34px;
}


/* BODY BUTTONS*/
.uib-datepicker table tbody tr td.uib-day button,
.uib-datepicker table tbody tr td.uib-month button,
.uib-datepicker table tbody tr td.uib-year button {
    border: 1px solid transparent;
    border-radius: 0;
}

.uib-datepicker .btn-info.active.focus,
.uib-datepicker .btn-info.active:focus,
.uib-datepicker .btn-info.active:hover,
.uib-datepicker .btn-info:active.focus,
.uib-datepicker .btn-info:active:focus,
.uib-datepicker .btn-info:active:hover,
.uib-datepicker .open > .dropdown-toggle.btn-info.focus,
.uib-datepicker .open > .dropdown-toggle.btn-info:focus,
.uib-datepicker .open > .dropdown-toggle.btn-info:hover {
    background-color: #269abc !important;
}

/* FIX MATERIALIZE STYLES */
.uib-datepicker .btn {
    box-shadow: none;
}


.uib-datepicker td,
.uib-datepicker th {
    padding: 0;
}


.uib-datepicker thead {
    border-bottom: 0;
}


/****************************** END OF CUSTOM BOOTSTRAP ****************************************/

/****************************** START OF DATA TABLES ****************************************/

/* ROWS LENGTH */
.dataTables_length select {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    border: 1px solid #e4e4e4;
    height: 30px;
    line-height: 30px;
    padding: 5px 10px;
}

/* FILTER */
.dataTables_wrapper .dataTables_filter input {
    margin-left: 10px;
    width: 16em;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0;
}

.dataTables_filter input {
    border-radius: 0;
}

/* BUTTONS */
button.dt-button, div.dt-button, a.dt-button {
    border-radius: 0;
}

/* TABLE */
table.dataTable {
    border-color: #eeeeee;
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
}

table.dataTable.table-bordered {
    border: 1px solid #eee;
}

table.dataTable {
    font-size: 13px;
}

/* TABLE HEADER */
.dataTables_wrapper .table thead > tr[role="row"] > th {
    border-bottom: 0;
}

.dataTables_wrapper .table thead > tr > th:not(:first-child) {
    border-left: 0;
}

.dataTables_wrapper .table thead > tr .sorting:before, .dataTables_wrapper .table thead > tr .sorting_asc:before, .dataTables_wrapper .table thead > tr .sorting_desc:before {
    font-family: 'fontawesome';
    content: '\f0dc';
    float: right;
    display: block;
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.dataTables_wrapper .table thead > tr .sorting_asc:before {
    content: '\f0de';
}

.dataTables_wrapper .table thead > tr .sorting_desc:before {
    content: '\f0dd';
}

/* TABLE BODY */
.dataTables_wrapper .table thead > tr .sorting, .dataTables_wrapper .table thead > tr .sorting_asc, .dataTables_wrapper .table thead > tr .sorting_desc {
    background: none;
}

.dataTables_wrapper table.dataTable thead > tr > th {
    padding-left: 15px;
    padding-right: 15px;
}

.table.table-bordered > thead > tr > td, .table.table-bordered > tbody > tr > td, .table.table-bordered > tfoot > tr > td, .table.table-bordered > thead > tr > th, .table.table-bordered > tbody > tr > th, .table.table-bordered > tfoot > tr > th {
    border-color: #eeeeee;
}

.table > thead > tr > td, .table > thead > tr > th {
    position: relative;
    border-bottom: 1px solid #eeeeee;
    color: #2c2e2f;
}

.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td, .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th {
    padding: 12px 15px;
}

.table.table-bordered > thead > tr > td, .table.table-bordered > tbody > tr > td, .table.table-bordered > tfoot > tr > td, .table.table-bordered > thead > tr > th, .table.table-bordered > tbody > tr > th, .table.table-bordered > tfoot > tr > th {
    border-color: #eeeeee;
}

.table > tbody > tr > td, .table > tfoot > tr > td, .table > tbody > tr > th, .table > tfoot > tr > th {
    border-top: 0;
    border-bottom: 1px solid #eeeeee;
}

.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td, .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th {
    padding: 12px 15px;
}

/* PAGING */
.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
    padding-top: 10px;
}

.dataTables_paginate a {
    position: relative !important;
    float: left !important;
    padding: 6px 12px !important;
    line-height: 1.42857143 !important;
    text-decoration: none !important;
    color: #373e4a !important;
    background-color: #fff !important;
    border: 1px solid #ddd !important;
    margin-left: -1px !important;
    border-radius: 0 !important;
}

.dataTables_paginate a.current {
    z-index: 2 !important;
    color: #fff !important;
    background-color: #2c2e2f !important;
    cursor: auto !important;
}

.dataTables_paginate a:not(.current):not(.disabled):hover {
    color: #16191e !important;
    background-color: #eee !important;
    border-color: #ddd !important;
}

/* BORDER LESS TABLE */

table.dataTable.table-border-less td, table.dataTable.table-border-less th {
    border-left: 0 !important;
    border-right: 0 !important;
}

/* TABLE STRIPED */
table.dataTable.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: white;
}

table.dataTable.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #e9ebf3;
}

table.dataTable.table-striped > tbody > tr:hover {
    background-color: #a3ade1;
    color: white;
    cursor: pointer;
}

table.dataTable.table-striped > tbody > tr:nth-of-type > td {
    border: transparent;
}

/****************************** END OF DATA TABLES ****************************************/