<div id="forgot-password-modal">

    <!-- MODAL HEADER -->
    <div class="modal-header">
        <button type="button" class="close" ng-click="$ctrl.close()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">שיחזור סיסמה</h4>
    </div>

    <!--MODAL BODY-->
    <form class="modal-body">

        <!-- RECOVERY VIEW -->
        <div ng-show="$ctrl.recoveryView">

            <!-- HEADER -->
            <h2>
                שכחת סיסמא? לא נורא!
            </h2>

            <!-- DESC-->
            <h3>
                הכנס את כתובת הדוא"ל שלך או את מספר הנייד שלך.
                <br/>
                לאחר מכן הכנס את הקוד שקיבלת או לחץ על הלינק במייל.
            </h3>

            <div class = "row warning-label"  ng-show = "$ctrl.notFound">
                <div class = "col-xs-12">
                    *
                    לא נמצא משתמש עם הפרטים שהזנת, אנא בדוק שנית שהפרטים תקינים.
                </div>
            </div>

            <br />

            <!-- RECOVERY VALUE -->
            <div class="row">

                <div class="col-sm-3">
                    <label for="recovery-value">
                        אימייל / מספר נייד:
                    </label>
                </div>

                <div class="col-sm-9">
                    <input id="recovery-value" ng-model="$ctrl.recoveryValue" class="form-control"/>
                </div>
            </div>

            <br/>

            <div class="row text-right flip">

                <div class = "col-xs-12">
                    <div class="btn btn-info" ng-click="$ctrl.forgotPassword()">
                        שלח!
                    </div>
                </div>

            </div>

        </div>



        <!-- CODE VIEW -->
        <div ng-hide="$ctrl.recoveryView">

            <h3>
                הזן את הקוד שקיבלת באימייל / באס-אמ-אס
            </h3>


            <!-- RECOVERY CODE -->
            <div class="row">

                <div class="col-sm-3">
                    <label for="recovery-code">
                        אימייל / מספר נייד:
                    </label>
                </div>

                <div class="col-sm-9">
                    <input id="recovery-code" ng-model="$ctrl.recoveryCode" class="form-control"/>
                </div>
            </div>

            <br/>

            <div class="row text-right flip">

                <div class = "col-xs-12">
                    <div class="btn btn-info" ng-click="$ctrl.recoverPassword()">
                        שחזר!
                    </div>
                </div>

            </div>

        </div>

    </form>
</div>