<div id="forgot-password-modal">

    <!-- MODAL HEADER -->
    <div class="modal-header">
        <i class="clickable close-btn pull-right fa fa-times" ng-click="$ctrl.close()" aria-hidden="true"></i>
        <span class="modal-title">Edit Invitees</span>
    </div>

    <!--MODAL BODY-->
    <div class="modal-body">


        <div style = "margin-bottom: 20px;">

            <div class = "btn btn-info" ng-click = "$ctrl.selectAllUsers()">
                <i class="fa fa-check" aria-hidden="true"></i>
                Select All
            </div>

            <div class = "btn btn-info" ng-click="$ctrl.unSelectAllUsers()">
                <i class="fa fa-times" aria-hidden="true"></i>
                un-select All
            </div>

            <div class = "btn btn-info" ng-click="$ctrl.selectFiltered()">
                <i class="fa fa-check" aria-hidden="true"></i>
                Select Filtered
            </div>

            <div class = "btn btn-info" ng-click="$ctrl.unSelectFiltered()">
                <i class="fa fa-times" aria-hidden="true"></i>
                un-select Filtered
            </div>

        </div>


        <table datatable dt-options="$ctrl.inviteesDT.options" dt-columns="$ctrl.inviteesDT.columns"
               dt-instance="$ctrl.inviteesDT.dtInstance" class="table border-less dataTable">
        </table>

        <div class = "text-right">

            <div class = "btn btn-info">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                Save
            </div>

        </div>

    </div>
</div>