<div ui-view="sideNav"></div>
<div ui-view="navbar"></div>
<div ui-view></div>

<div  ui-view="modal"></div>



<!--<div class="wrapper">-->


    <!--<div ui-view></div>-->

    <!--&lt;!&ndash;<div ui-view="portal.sideNav"           ng-show="$state.includes('employer.portal')"></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div ui-view="portal.nav"               ng-show="$state.includes('employer.portal')"></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div ui-view="portal"                   ng-show="$state.includes('employer.portal')"></div>&ndash;&gt;-->

    <!--&lt;!&ndash;<div ui-view="postajob.sideNav"         ng-show="$state.includes('employer.postajob')"></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div ui-view="postajob.nav"             ng-show="$state.includes('employer.postajob')"></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div ui-view="postajob"                 ng-show="$state.includes('employer.postajob')"></div>&ndash;&gt;-->

    <!--&lt;!&ndash;<div ui-view="edit.sideNav"             ng-show="$state.includes('employer.edit')"></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div ui-view="edit.nav"                 ng-show="$state.includes('employer.edit')"></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div ui-view="edit"                     ng-show="$state.includes('employer.edit')"></div>&ndash;&gt;-->

    <!--&lt;!&ndash;<div ui-view="jobs.sideNav"             ng-show="$state.includes('employer.jobs')"></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div ui-view="jobs.nav"                 ng-show="$state.includes('employer.jobs')"></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div ui-view="jobs"                     ng-show="$state.includes('employer.jobs')"></div>&ndash;&gt;-->

    <!--&lt;!&ndash;<div ui-view="matches.sideNav" ng-show="$state.includes('matches')"></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div ui-view="matches.nav"     ng-show="$state.includes('matches')"></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div ui-view="matches"         ng-show="$state.includes('matches')"></div>&ndash;&gt;-->

    <!--&lt;!&ndash;<div ui-view="company_preview.sideNav"  ng-show="$state.includes('employer.company_preview')"></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div ui-view="company_preview.nav"      ng-show="$state.includes('employer.company_preview')"></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div ui-view="company_preview"          ng-show="$state.includes('employer.company_preview')"></div>&ndash;&gt;-->




    <!--&lt;!&ndash;<div ui-view="modal" autoscroll="false"></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div ui-view="modal1" autoscroll="false"></div>&ndash;&gt;-->
<!--</div>-->

