<main id="portal">

    <div class="container-fluid portal">

        <div class="col-md-3">
            <div>
                <img ng-src="../img/buttons/employer_portal/find_school.png" class="col-md-12">
            </div>
        </div>

        <div class="col-md-3">
            <div ui-sref="employer.jobs">
                <img ng-src="../img/buttons/employer_portal/results_btn.png" class="col-md-12">
            </div>
        </div>

        <div class="col-md-3">
            <div>
                <img ng-src="../img/buttons/employer_portal/institutions_btn.png" class="col-md-12">
            </div>
        </div>

        <div class="col-md-3">
            <div>
                <img ng-src="../img/buttons/employer_portal/school_events.png" class="col-md-12">
            </div>
        </div>


    </div>

</main>