<main style="height:100%;background-color:#EDEDED; ">






	<div class="">
			<div class="" style="width: 80%; margin:0 auto; margin-top:15px;">
				<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
					<select ng-model="filter.main_field" class="form-control" style="margin-top:20px;"
							ng-options="s.value as s.text for s in groups['main_field']"
							placeholder="Main Field">
						<option value="">Main Field</option>
					</select>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
					<select ng-model="filter.employment_type" class="form-control" style="margin-top:20px;"
							ng-options="s.value as s.text for s in groups['employment_type']">
						<option value="">Employment Type</option>
					</select>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
					<select ng-model="filter.location" class="form-control" style="margin-top:20px;">
						<option value="">Location</option>
						<option value="">West Side</option>
						<option value="">East Side</option>
					</select>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
					<select ng-model="filter.experience" class="form-control" style="margin-top:20px;">
						<option value="">Experience</option>
						<option value="false">desc</option>
						<option value="true">asc</option>
					</select>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<input type="text" class="form-control" ng-model="searchText" placeholder="Free Query" style="margin-top:20px;"/>
				</div>

				<!--<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">-->
					<!--<select ng-model="orderByFilter" class="form-control" style="margin-top:20px;">-->
						<!--<option value="main_field">Main Field</option>-->
						<!--<option value="orderOptions('title')">Title</option>-->
						<!--<option value="experience">Experience</option>-->
					<!--</select>-->
				<!--</div>-->
				<!--<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">-->
					<!--<bs-dropdown data-menu-type="button" select-val="selected_status = selectedVal"-->
								 <!--preselected-item="selected_status" data-dropdown-data="statuses">-->
					<!--</bs-dropdown>-->
				<!--</div>-->

				<!--<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">-->
					<!--<bs-dropdown data-menu-type="button" select-val="selected_status = selectedVal"-->
								 <!--preselected-item="selected_status" data-dropdown-data="statuses">-->
					<!--</bs-dropdown>-->
				<!--</div>-->

				<!--<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">-->
					<!--<bs-dropdown data-menu-type="button" select-val="selected_status = selectedVal"-->
								 <!--preselected-item="selected_status" data-dropdown-data="statuses">-->
					<!--</bs-dropdown>-->
				<!--</div>-->

				<!--<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">-->
					<!--<bs-dropdown data-menu-type="button" select-val="selected_status = selectedVal"-->
								 <!--preselected-item="selected_status" data-dropdown-data="statuses">-->
					<!--</bs-dropdown>-->
				<!--</div>-->

				<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
					<bs-dropdown data-menu-type="button" select-val="selected_status['stuff'] = selectedVal"
								 preselected-item="selected_status['stuff']" data-dropdown-data="groups['stuff']">
					</bs-dropdown>
				</div>
				<!--<button href="#" ng-click ="orderOptions('title')">Name</button>-->
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<input type="text" class="form-control" ng-model="searchText" placeholder="Free Query" style="margin-top:20px;"/>
				</div>


			</div>

			</div>
			<div class="clearfix"></div>
			<hr style="border-top: 1px solid #fff; width:80%;">

			<div>
				<div class="" style="width: 80%; margin: 0 auto;">
					<div ng-click="emptyFolder()" class="col-md-4" ng-if="labeledPosts[label].length > 0 && label != 'index'" style="cursor:pointer;">
						<i class="glyphicon glyphicon-remove" style="color:#78BAFC; text-shadow: 0 0 3px #78BAFC;margin:10px 0px 15px 0px;;"></i>
						&nbsp;Empty Folder
					</div>
					<div class="clearfix"></div>
					<div  class=" text-center col-xs-12 col-sm-6 col-lg-6 col-lg-6"
						  ng-repeat="(key,job) in allPosts  |  toArray:false  | labeled:label:this | filter:filter.main_field  | filter:filter.employment_type | filter:filter.location | filter:searchText | orderBy:orderByFilter:reverse" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">

								<div   class="job-card card text-center" ui-sref="general({jobId:job.postInfo.id})" >

										<div ng-if="job.label" ng-show="hoverEdit" ng-class="{labeledPostBox:job.label}">
											<div>
												<button class="left btn btn-danger"  ng-click="$event.stopPropagation();unApply(job.postInfo.id)"><i class="glyphicon glyphicon-remove"></i>&nbsp; Remove Label</button>
												<button class="right btn" ui-sref="general({jobId:job.postInfo.id})"><i class="glyphicon glyphicon-modal-window "></i>&nbsp; View Job</button>
											</div>
										</div>

										<div class="col-xs-3 col-sm-3 col-lg-3 col-lg-3 job-card-inner"><img ng-src="/{{job.postInfo.company_logo || '../../img/icons/academelogo.jpg' }}" style="width:100px"  class=""></div>

										<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
												<!--<rate-yo   ng-model="job.match / 20 " read-only="options.readOnly" options="options" style="width:100%;"></rate-yo>-->
												<h4 class="" style="font-size:1.5em; font-weight:200;">{{ job.postInfo.title || job.title || 'Job Title' }} </h4>
												<hr style="margin:0;">
												<label class="left" style="font-size:10px;"> View Job Info - {{job.postInfo.id}} </label>
												<label class="right" style="font-size:10px;"> Posted in 12 Institution </label>
										</div>
										<div class="col-xs-3 col-sm-3 col-lg-3 col-lg-3"></div>
								</div>
					</div>
				</div>
			</div>
	</div>

</main>
