<style>
	li {
		list-style-position: inside;
	}
	.sliderExample {
		width: 640px;
		padding: 2em;
		border: 1px solid #CCC;
		margin: 2em;
	}
	.sliderExample > div {
		margin: 1em 0;
	}
	.vertical-container {
		width: 15%;
		display: inline-block;
	}
	#swatch {
		width: 100px;
		height: 100px;
		border: 1px solid black;
	}
	/*#red .ui-slider-range { background: #ef2929; }*/
	/*#red .ui-slider-handle { border-color: #ef2929; }*/
	/*#green .ui-slider-range { background: #8ae234; }*/
	/*#green .ui-slider-handle { border-color: #8ae234; }*/
	/*#blue .ui-slider-range { background: #729fcf; }*/
	/*#blue .ui-slider-handle { border-color: #729fcf; }*/
</style>
<main>
		<!--<pre>{{user | json}}</pre>-->
		<br>
		<div>
			<p>View {{user.personal_information.first_name + ' ' +user.personal_information.last_name}}'s Profile &nbsp;&nbsp;   | &nbsp;&nbsp;   Your Profile Views: <span class="">56</span>	times</p>
		</div>

		<uib-accordion close-others="oneAtATime">
			<uib-accordion-group ng-repeat="(docParamName, iteration_key) in user track by $index" ng-init="status = $first" is-open="status" ng-if="docParamName != 'files'">
				<uib-accordion-heading>
					<div ng-class="{'grey': !status,  'cyan':  status}" class="waves-effect waves-light" style="width: 100%;">
						<i class="glyphicon glyphicon-plus"  ng-class="{'glyphicon glyphicon-circle-arrow-right': !status,  'glyphicon glyphicon-circle-arrow-down':  status}"></i>
						{{ docParamName  | underscoreless | capitalize:true }}
					</div>
				</uib-accordion-heading>

				<form editable-form class="editableForm" e-name="editableForm" name="editableForm" onaftersave="saveUser(user)" ng-init="loadGroups()" shown="0" e-ng-model="user">
					<!-- using another partial/html for personal_information  -->

					<div ng-if="docParamName == 'personal_information'" class="">
						<ng-include src="'partials/forms/profile/jobseeker_profile_personal_information.html'"></ng-include>
					</div>

					<!-- end of personal_Information  -->

					<div ng-repeat="(key,params) in iteration_key"  style="" repeat-done="initDatePicker()" ng-show="isArray(iteration_key)" style="margin-bottom:20px;">

						<div ng-repeat="(param_id, param) in params track by $index" ng-if="param.inputType"  class="col-md-6" style="min-height:60px;">
							<div class="col-md-6" style="font-weight:bold;">
								{{ param.paramName | underscoreless | capitalize }}
							</div>

							<div ng-switch="param.inputType" class="col-md-6" style="padding-right:15px;margin-bottom:10px; ">

								<div ng-switch-when="text">
									<div editable-text="param.paramValue" e-class="form-control">
										{{param.paramValue}}
									</div>
								</div>

								<!--{{ user[docParamName][key][ param.paramParentId ].paramValue  }}-->
								<!--{{param.paramValue}}-->
								<div ng-switch-when="select"
									 uib-tooltip="Please select a {{ user[docParamName][key][ param.paramParentId ].paramName }}"
									 tooltip-placement="top-right"
									 tooltip-trigger="mouseenter"
									 tooltip-popup-delay="500"
									 tooltip-enable="user[docParamName][key][ param.paramParentId ].paramValue == '' && typeof(user[docParamName][key][ param.paramParentId ].paramValue) === undefined  ">
									<div editable-select="param.paramValue"
										 name="param.paramName"
										 e-name="param.paramName"
										 e-class="form-control"
										 e-ng-change="changeThis($data, param)"
										 e-ng-options="o.id as o.text for o in groups[param.paramName] | toArray:false | filter:{parent_id:  user[docParamName][key][ param.paramParentId ].paramValue }:true">

										{{ showIterableGroup(param.paramId, docParamName, key, param.paramName) }}
									</div>
								</div>

								<div ng-switch-when="textarea">
								</div>

								<div ng-switch-when="date">
									<div ng-show="!editableForm.$visible">
										{{param.paramValue}}
									</div>
									<div ng-show="editableForm.$visible">
										<div class="input-group" >
											<input type="text" class="form-control"
												   uib-datepicker-popup ng-model="param.paramValue"
												   is-open="datepickers[key][param_id]"
												   datepicker-options="dateOptions"
												   close-text="Close" />
									  <span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="open($event,param_id,key)"><i class="glyphicon glyphicon-calendar"></i></button>
									  </span>
										</div>
									</div>
								</div>

								<div ng-switch-when="slider">
									<div ng-show="!editableForm.$visible">
										{{sliders.integrity}}
									</div>
									<div ng-show="editableForm.$visible">
										<label class="left">0</label>
										<div class="left" ui-slider min="0" max="200" ng-model="sliders.integrity" ></div>
										<label class="left">100</label>
									</div>
								</div>
								<div ng-switch-default>
									{{ param.paramValue }}
								</div>
							</div>
						</div>



						<div class="clearfix"></div>
						<div class="iterationCtrls" ng-show="editableForm.$visible && iteration_key.length > 1">

							<div class="iterationCtrl" ng-click="remove(user[docParamName],docParamName,$index)">
								X Delete
							</div>
							<div class="iterationCtrl" ng-hide="$first" ng-click="move(user[docParamName],$index,$index-1)">
								Move Up
							</div>
							<div class="iterationCtrl" ng-hide="$last" ng-click="move(user[docParamName],$index,$index+1)">
								Move Down
							</div>

						</div>



						<hr ng-show="isArray(iteration_key) && !$last">


					</div>
					<div class="clearfix" ></div>
					<div class="buttons" >

						<button type="button" class="btn btn-default editBtn" ng-click="editableForm.$show()" ng-show="!editableForm.$visible" style="float:right;">Edit</button>

						<div ng-show="editableForm.$visible && docParamName != 'personal evaluation' && docParamName != 'personal_information'" style="float:left;">
							<button type="button" class="btn btn-default" ng-click="add(docParamName,$index)">+ Add a Record</button>

						</div>
						<div ng-show="editableForm.$visible" style="float:right;">
							<button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting" >Save</button>
							<button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()" >Cancel</button>
						</div>
					</div>

				</form>
			</uib-accordion-group>
		</uib-accordion>

</main>
